.message-input-container {
    // position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--white);
    padding: 15px 22px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 6px;

    & .chat-form {
        display: flex;
        align-items: center;
        background: var(--white);
        outline: 1px solid #cccce5;
        width: 100%;
        border-radius: 15px;

        &:focus-within {
            outline: 2px solid var(--primary);
        }
    }
}

.message-input {
    width: 100%;
    background: none;
    height: 47px;
    padding: 0 17px;
    font-size: 1.4rem;
}

.send-btn {
    // align-items: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white);
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--primary);

    &:hover {
        background: rgba(155, 11, 44, 0.9);
    }
}

.send-icon {
    font-size: 1.6rem;
}
