// .slick-slide {
//     width: 800px !important;
// }

.slick-arrow {
    top: -100px;
    &.slick-prev {
        // left: -35px;
        left: unset !important;
        top: -40px;
        right: 60px;
    }

    &.slick-next {
        top: -40px;
        right: 25px;
    }
    &::before {
        font-size: 3rem !important;
        color: #000 !important;
    }
}

.slick-slide {
    display: flex !important;
    height: auto !important;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
}

.slick-track {
    display: flex !important;
}
