.wrapper {
    background: var(--white);
    width: 100%;
}

.container {
    padding: 0 3rem 3rem;
}

.profile-heading {
    padding: 1.8rem 0;
    border-bottom: 1px solid #efefef;
}

.heading-title {
    font-size: 1.8rem;
    color: var(--shop-color-text);
    margin-bottom: 0;
}

.heading-subtitle {
    color: #555;
    line-height: 1.7rem;
    margin-top: 3px;
}

.profile-body {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
}

.profile-container {
    flex: 1;
}

.profile-row {
    display: flex;
    justify-content: center;
}

.profile-label {
    color: rgba(85, 85, 85, 0.8);
    min-width: 20%;
    overflow: hidden;
    padding-bottom: 30px;
    text-align: right;
    white-space: nowrap;
}

.profile-input {
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-left: 20px;
    width: 450px;
}

.profile-label {
    display: flex;
    justify-content: end;
    align-items: center;
}

.input-field {
    border: 1px solid var(--shop-color-border);
    // height: 30px;
    padding: 8px;
    width: 80%;
}

.error-container {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
}

.error-message {
    margin-left: 8px;
}

.upload-container {
    border-left: 0.1rem solid #efefef;
    overflow: hidden;
    width: 28rem;
}

.upload-header {
    height: 10rem;
    margin: 2rem 0;
    position: relative;
    width: 10rem;
}

.upload-preview {
    border-radius: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.upload-btn {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
    // color: #555;
    outline: 0;
    overflow: visible;
    position: relative;

    height: 40px;
    max-width: 220px;
    min-width: 70px;
    padding: 0 20px;

    text-overflow: ellipsis;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    text-transform: capitalize;
}

.upload-input {
    display: none;
}

.upload-info {
    display: block;
    margin-top: 1.2rem;
}
