.wrapper {
    margin-top: auto;
    background-color: var(--white);
    // padding-top: 20px;
    color: var(--dark-charcoal);
}

.footer-newsletter {
    padding: 20px 0;
    border-top: 1px solid rgba(51, 51, 51, 0.04);
    border-bottom: 1px solid rgba(51, 51, 51, 0.04);
}

.wrapbox-newsletter {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.newsletter-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.newsletter-title h3 {
    font-size: 2rem;
}

.newsletter-form {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.input-group {
    height: 40px;
    width: 100%;
    position: relative;
}

.input-field {
    height: 100%;
    min-width: 290px;
    outline: none;
    font-size: 1.3rem;
    // color: #677279;
    color: #000;
    border-radius: 20px;
    border: 1px solid var(--primary);
    padding: 0 10px 0 40px;

    & ~ .input-icon {
        position: absolute;
        // color: #84abe7;
        color: var(--primary);
        font-size: 1.6rem;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    &::placeholder {
        // color: #84abe7;
        color: var(--primary);
        font-size: 1.4rem;
    }

    &:focus {
        color: #000;

        & ~ .input-icon {
            color: var(--primary);
        }

        &::placeholder {
            color: var(--primary);
        }
    }
}

.input-group-btn {
    text-transform: uppercase;
    font-weight: 700;
}

.footer-container {
    padding-top: 30px;
    max-width: 1400px;
    margin: auto;
}

.footer-title {
    position: relative;
    font-size: 1.6rem;
    color: var(--footer-color-text);
    margin: 0px;
    padding: 15px 0;
    font-weight: 500;
}

.footer-content {
    // display: none;
    padding: 10px 0px 20px;
}

.item {
    margin-bottom: 8px;

    & .link {
        color: var(--footer-color-text);
    }

    & .icon {
        font-size: 18px;
        padding-right: 10px;
        color: var(--footer-color-text);
    }

    &:hover .link {
        color: var(--primary);
    }
}

.footer-copyright {
    color: var(--dark-charcoal);
    font-size: 1.3rem;
    padding: 16px;
    text-align: center;
    border-top: 1px solid rgba(51, 51, 51, 0.08);
    background: #f2f8fd;

    & a {
        color: var(--dark-charcoal);
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-link {
    width: 32px;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid var(--dark-charcoal);
    color: var(--dark-charcoal);
    display: block;
    text-align: center;
    border-radius: 50%;
    transition: 0.4s;

    &:hover {
        background-color: var(--primary);
        color: var(--white);
        border: 1px solid var(--primary);
    }
}

@media (min-width: 992px) {
    .footer-title {
        font-weight: 700;
        font-size: 1.8rem;
        padding-bottom: 12px;
    }

    .input-group-btn {
        width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .newsletter-block {
        flex-wrap: wrap;
    }

    .newsletter-social {
        -ms-justify-content: flex-end;
        justify-content: flex-end;
    }

    .input-group-btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .newsletter-block {
        display: block;
    }

    .newsletter-title {
        padding-right: 0;
        padding-bottom: 10px;
        text-align: center;
    }

    .input-field {
        width: 100%;
        margin: 0;
        padding-right: 110px;
    }

    .input-group-btn {
        padding: 0 20px;
        font-size: 12px;
        margin: 1px;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
    }
}
